*{
    width: 100%;
    margin: 0;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(47, 2, 2, .75);
    height: 4vw;
    display: grid;
    grid-template-areas:
    "logo name name name links links links";
}
    nav a:hover{
        text-decoration: underline;
    }
.navlinks{
    grid-area: links;
    display: flex;
    justify-content: end;
    padding-top: 1.5vw;
}
.logo{
    grid-area: logo;
    height: 3.5vw;
    width: 3.5vw;
    padding-top: .25vw;
    padding-left: 1.5vw;
}

.links{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    justify-content: space-evenly;
    display: grid;
    grid-template-areas: 
    "about"
    "services"
    "contact";
}
.maincontainer{
    background: url("images/banner.jpg") no-repeat;
    background-size: 100%;
    height: 31vw;
    border-bottom: 1vw solid #2F0202;
}

.bottom h5{
    background-color: white;
    width: 20vw;
    text-align: center;
    padding: .5vw;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: #2F0202;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
}
.title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(211, 193, 210, .75);
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: #2F0202;
    height: 2.5vw;
    margin:auto;
    margin-top: 7vw;
    text-decoration: none;
    z-index: 5;
    transform: translateY(-17.75vw);
}
.infobox h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(211, 193, 210, .75);
    color: #2F0202;
    margin: 5vw 2.5vw;
    width: 40vw;
    padding: 2vw 5vw;
    font-size: 3vw;
    margin-bottom: 2.5vw;
    border: .25vw solid #2F0202;
}

.infobox a{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(47, 2, 2, 1);
    color: white;
    padding: 1vw 1.5vw;
    text-decoration: none;
    border-radius: 2vw;
    font-size: 1.5vw;
    margin-left: 5vw;
}
footer{
    padding: 1.5vw;
    background-color: #2F0202;
    height: 20vw;
    border-top: 1vw solid #2F0202;
    color: white;  
    font-family: 'Roboto', sans-serif; 
    width: 96.95%;
}
    footer a{
        text-decoration: none;
        color: #EFF0F1;
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
    }
    footer a:hover{
        text-decoration: underline;
    }
    .footerlinks{
        grid-area: footlinks;
        display: flex;
        flex-direction: column;
        padding-top: 1.5vw;
        transform: translateY(-1.5vw);
    }
    .footlogo{
        grid-area: footlogo;
        height: 3.5vw;
        width: 3.5vw;
        padding-top: .25vw;
        padding-left: .5vw;
    }
footer h3{
    grid-area: footname;
    font-size: 1.5vw;
}
.map{
    grid-area: footmap;
    height: 15vw;
    width: 15vw;
    display: flex;
    justify-content: right;
}
.footsum{
    grid-area: sum;
    margin: 2.5vw 5vw;
    width: 50vw;
    padding-top: 1.5vw;
    font-size: 1vw;
}
.footercontent{
    display: grid;
    grid-template-areas: 
    "footlogo sum footmap"
    "footname sum footmap"
    "footlinks sum footmap"
    "footsocials footsocials footsocials";
}
.contactbody{
    background-color: #d3c1d2;
    display: flex;
    justify-content: center;
}
.form{
    grid-area: form;
    padding: 2.5vw;
    width: 50vw;
}
.footsocials{
    font-size: 1vw;
}
.itemscontainer{
    display: grid;
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3";
    background-color: #d3c1d2;
    padding: 0 .625vw;
    text-align: center;
}
    @media only screen and (min-width: 50px) {
        .itemscontainer{
            display: grid;
            grid-template-columns:auto;
            grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine";
        }
        .menutitle{
            text-align: center;
            background-color: #d3c1d2;
            padding-top: 3vw;
            padding-bottom: 2.5vw;
            display: flex;
            justify-content: center;
        }
            .menutitle h1{
                font-size: 5vw;
                font-family: 'Roboto', sans-serif;
                border: .25vw solid #2F0202;
                width: 25vw;
                background-color: white;
                border-radius: 5vw;
                padding: .5vw 1.5vw;
            }
        .itemimg{
            grid-area: itemimg;
            width: 30vw;
            margin:auto;
        }
        .iteminfo{
            grid-area: iteminfo;
            width: 100%;
            text-align: justify;
        }
        .itemhead{
            grid-area: itemhead;
            font-size: 3.5vw;
            width: 100%;
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
    }
    
    @media only screen and (min-width:600px) {
        .itemscontainer{
            grid-gap: 20px;
            grid-template-columns: auto auto auto;
            grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine";
            max-width: 1500px;
        }
        .menutitle{
            text-align: center;
            background-color: #d3c1d2;
            padding-top: 3vw;
            padding-bottom: 2.5vw;
            display: flex;
            justify-content: center;
        }
            .menutitle h1{
                font-size: 2.5vw;
                font-family: 'Roboto', sans-serif;
                border: .25vw solid #2F0202;
                width: 15vw;
                background-color: white;
                border-radius: 5vw;
                padding: .5vw 1.5vw;
            }
        .itemimg{
            grid-area: itemimg;
            width: 15vw;
            height: 15vw;
        }
        .iteminfo{
            grid-area: iteminfo;
            width: 15vw;
        }
        .itemhead{
            grid-area: itemhead;
            font-size: 1.5vw;
            width: 15vw;
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
    }
    .one{
        grid-area: one;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 2.5vw;
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .two{
        grid-area: two;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .three{
        grid-area: three;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .four{
        grid-area: four;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .five{
        grid-area: five;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .six{
        grid-area: six;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .seven{
        grid-area: seven;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .eight{
        grid-area: eight;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .nine{
        grid-area: nine;
        font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    @media only screen and (min-width: 500px)  {
        .links {
          grid-template-columns: auto;
          grid-template-areas:
          "about"
          "services"
          "contact";
          row-gap: 5vw;
        }
        nav a{
            text-decoration: none;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5vw;
        }
        .name{
            grid-area: name;
            color: white;
            padding-top: 1.5vw;
            font-family: 'Roboto', sans-serif;
            transform:translateX(-7.5vw);
            font-size: 1.5vw;
        }
        .about{
            grid-area: about;
            height: 25vw;
            width: 25vw;
        }
            .about a{
                transform: translateY(-27.5vw);
            }
            .about:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 12.5vw 0;
            }
        .services{
            grid-area: services;
            height: 25vw;
            width: 25vw;
        }
            .services:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 12.5vw 0;
            }
            .services a{
                transform: translateY(-27.5vw);
            }
        .contact{
            grid-area: contact;
            height: 25vw;
            width: 25vw;
        }
            .contact a{
                transform: translateY(-27.5vw);
            }
            .contact:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 12.5vw 0;
            }
            .bottom{
                background-color: #d3c1d2;
                padding-top: 2vw;
                height: 100vw;
            }
        }
      
        @media only screen and (min-width: 600px)   {
          .links {
            grid-template-columns: auto auto auto;
            grid-template-areas:
            "about services contact";
            max-width: 1800px;
          }
          nav a{
            text-decoration: none;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1vw;
        }
        .name{
            grid-area: name;
            color: white;
            padding-top: 1.5vw;
            font-family: 'Roboto', sans-serif;
            transform:translateX(-10vw);
            font-size: 1vw;
        }
          .about{
            grid-area: about;
            height: 17.5vw;
            width: 17.5vw;
        }
            .about:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 7.6vw 0;
            }
            .about a{
                transform: translateY(-17.75vw);
            }
        .services{
            grid-area: services;
            height: 17.5vw;
            width: 17.5vw;
        }
            .services:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 7.6vw 0;
            }
            .services a{
                transform: translateY(-17.75vw);
            }
        .contact{
            grid-area: contact;
            height: 17.5vw;
            width: 17.5vw;
        }
            .contact:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 7.6vw 0;
            }
            .contact a{
                transform: translateY(-17.75vw);
            }
            .bottom{
                background-color: #d3c1d2;
                padding-top: 2vw;
                height: 30vw;
            }
        }

        /* .about{
            grid-area: about;
            height: 17.5vw;
            width: 17.5vw;
        }
            .about:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 7.6vw 0;
            }
        .services{
            grid-area: services;
            height: 17.5vw;
            width: 17.5vw;
        }
            .services:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 7.6vw 0;
            }
        .contact{
            grid-area: contact;
            height: 17.5vw;
            width: 17.5vw;
        }
            .contact:hover a{
                transition: all 1s;
                margin-top: 0;
                padding: 7.6vw 0;
            } */

    /* .itembody{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    grid-area: item1;
    display: flex;
    flex-direction: row;
}
    .itembody div{
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .itembody div img{
        height: 15vw;
        width: 15vw;
    } */
    /* .itembody2{
    grid-area: item2;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
    flex-direction: row;
}
    .itembody2 div{
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .itembody2 div img{
        height: 15vw;
        width: 15vw;
    }
.itembody3{
    grid-area: item3;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2.5vw;
    display: flex;
    flex-direction: row;
}
    .itembody3 div{
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-areas: 
        "itemimg"
        "itemhead"
        "iteminfo";
        text-align: center;
    }
    .itembody3 div img{
        height: 15vw;
        width: 15vw;
    } */